<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

  <variable name="logroot" value="${basedir}"/>

  <!-- define various log targets -->
  <targets>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!-- Ignore everything online until I decide on files to place things in... -->
    <logger name="*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>