<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

  <variable name="logroot" value="${basedir}"/>

  <!-- define various log targets -->
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${longdate} - ${level:uppercase=true}${newline}${logger} | ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"/>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    
    <!--All logs-->
    <logger name="*" levels="Trace,Info,Debug" writeTo="console" />
  </rules>
</nlog>